/* Fondo */
body {
  font-family: 'Arial', sans-serif;
  background: url('fuxion-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Glassmorphism */
.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Botones y enlaces */
.btn-primary {
  background: linear-gradient(45deg, #007BFF, #0056b3);
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #0056b3, #004085);
}

/* Tabla */
.table {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}


